Brotli==1.0.9
cffi==1.15.0
cssselect2==0.4.1
et-xmlfile==1.1.0
fonttools==4.29.1
fpdf==1.7.2
html5lib==1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.2
openpyxl==3.0.9
pandas==1.4.1
Pillow==9.0.1
pycparser==2.21
pydyf==0.1.2
PyPDF2==1.26.0
pyphen==0.12.0
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
tinycss2==1.1.1
weasyprint==54.1
webencodings==0.5.1
zopfli==0.1.9
